html {
    font-size: 27px;
}
body{
    font-family:”Lucida Grande”, “Lucida Sans Unicode”, Verdana, Arial, Helvetica, sans-serif;
    font-size:40px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
input, button, textarea, select {
    font-size: 100%;
    border: groove;
    background: center;
    -webkit-appearance: none;
}
body{
    background: url(https://img.alicdn.com/imgextra/i4/116513855/TB2Pf35gFXXXXXmXpXXXXXXXXXX_!!116513855.jpg) repeat;
}
form{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.form-col {
    margin-bottom: 0.81481rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.form-col label {
    display: block;
    font-size: 1.11111rem;
    color: #453e3b;
    height: 2.96296rem;
    line-height: 2.96296rem;
}

.form-col .ipt {
    margin-left: 3%;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: block;
}
.form-sex {
    margin: -0.37037rem 0 0.37037rem;
}

.sel-field {
    font-size: x-large;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.81481rem;
}

.sel-txt {
    display: block;
    height: 2.96296rem;
    line-height: 2.96296rem;
    font-size: 1.11111rem;
    color: #453e3b;
}

.sel-year {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: block;
}

.sel-a .sel-selected {
    padding-right: 0.88889rem;
}

.sel-data {
    width: 100%;
    height: 70%;
    font-size: 27px;
}
.sex-data {
    margin-left: 4%;
    width: 10%;
    height: 100%;
    font-size: 27px;
}

.sel-a:nth-of-type(2) {
    margin: 0 2%;
}

.sel-a {
    width: 22%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #e4b783;
}

.btn-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.btn-box .btn-grown {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: block;
}
.btn-box .btn-grown {
    width: 16.66667rem;
}
.btn-grown:visited {
    color: #fff;
}
.btn-grown {
    position: relative;
    display: inline-block;
    font-size: 1.33333rem;
    color: #fff;
    background-color: #484242;
    height: 2.96296rem;
    line-height: 2.96296rem;
    -moz-border-radius: 0.22222rem;
    -webkit-border-radius: 0.22222rem;
    border-radius: 0.22222rem;
    border: 1px solid #887d78;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/**
   weightBone.html
 */
.main-body {
    padding: 0.74074rem 0 0;
    font-size: 1.11111rem;
    color: #7c4328;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.main-body .hd {
    color: #ca9868;
    text-align: center;
    line-height: 2.22222rem;
}
.main-body .infor {
    text-align: center;
    font-size: 1.03704rem;
    line-height: 2.22222rem;
}

.form-div {
    margin: 0.74074rem 1.11111rem;
    border: 1px solid #afa79e;
    text-align: center;
    font-size: 1.11111rem;
    padding: 0.59259rem 0;
}
.form-div .color-g {
    color: #ca9868;
    font-size: 1.11111rem;
}
.form-div p.cRed {
    color: #f43d3d;
    font-size: 1.18519rem;
    line-height: 2.07407rem;
}
.main-body .mod-list {
    margin-bottom: 0.37037rem;
    padding: 0 1.11111rem;
}
.main-body .mod-list .title {
    position: relative;
    font-size: 1.33333rem;
    line-height: 2.74074rem;
    padding-left: 0.88889rem;
}
.main-body .mod-list p {
    line-height: 1.77778rem;
    text-align: justify;
}

.main-footer {
    padding: 0 1.11111rem 0.55556rem;
}
.main-footer .remind {
    padding: 0.96296rem 0;
    font-size: 1.03704rem;
    color: #a86e36;
    line-height: 1.62963rem;
}