<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>骨重信息</title>
    <meta http-equiv="X-UA-Compatible"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<body>
<div id=”views” class=”myform” th:object="${boneInfo}">

    <div class="basic">
        <div>
            <label>姓名：</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>性别：</label>
            <input type="text" th:field="*{sex}">
        </div>
        <div>
            <label>出生日期：</label>
            <input type="text" th:field="*{glBirthday}">
        </div>
        <div>
            <label>属相：</label>
            <input type="text" th:field="*{shuXiang}">
        </div>
        <div>
            <label>天干地支：</label>
            <input type="text" th:field="*{yearTD}">
        </div>
        <div>
            <label>出生月：</label>
            <input type="text" th:field="*{monthBZ}">
        </div>
        <div>
            <label>出生日：</label>
            <input type="text" th:field="*{dayBZ}">
        </div>
        <div>
            <label>时辰：</label>
            <input type="text" th:field="*{hourBZ}">
        </div>
        <div>
            <label>骨重信息：</label>
            <input type="text" th:field="*{boneWeightInfo}">
        </div>

    </div>
</div>
</body>
</html>