<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>骨重信息</title>
    <meta http-equiv="X-UA-Compatible"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<body>
<div id=”views” class=”infoZone” th:object="${boneInfo}">

    <div class="main-body">
        <h3 class="hd">当前算命者信息</h3>
        <div class="infor" th:text="*{boneInfo}"></div>
        <div class="infor"><p>八字：<span th:text="*{boneInfoBZ}"></span></p></div>
        <div class="form-div">
            <p class="color-g">亲爱的 <span class="name" th:text="*{name}"></span>，根据您的生辰八字，经过测算</p>
            <p class="cRed" >您的骨重为:<span th:text="*{boneWeight}"></span></p>
            <p class="cRed" ><span th:text="*{boneInfoSep}"></span></p>
        </div>
        <div class="mod-list">
            <h4 class="title">命书分析</h4>
            <p th:text="*{boneWeightInfo}"></p>
        </div>
        <div class="main-footer">
            <p class="remind">注：本算命系统来源于中国民俗学的一些测算方法，并非科学研究成果，仅供休闲娱乐，请勿迷信，按此操作一切后果自负！</p>
        </div>
    </div>
</div>
</body>
</html>