<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>称骨</title>
    <meta http-equiv="X-UA-Compatible" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript"   src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

</script>

    <body>
        <div id=”stylized” class=”myform”>
            <form action="#" th:action="@{/wb/weightBone}" th:object="${userReq}" method="post">
                <div class="form-col">
                    <label >姓名：</label><br/>
                    <input class="ipt" type="text" id="datePlanted" name="userName" th:value="*{userName}" style="align-items: center;width: 120px;" /><br/>
                </div>
                <div class="sel-field">
                    <label class="sel-txt">公历生日：</label>
                    <div class="sel-a sel-year">
                        <select class="sel-data" th:field="*{bYear}">
                            <option th:each="year : *{years}" th:value="${year}" th:text="${year}"></option>
                        </select>
                    </div>
                    <div class="sel-a">
                        <select class="sel-data" th:field="*{bMonth}">
                            <option th:each="month : *{months}" th:value="${month}" th:text="${month}"></option>
                        </select>
                    </div>
                    <div class="sel-a">
                        <select class="sel-data" th:field="*{bDay}">
                            <option th:each="day : *{days}" th:value="${day}" th:text="${day}"></option>
                        </select>
                    </div>
                </div>

                <div class="sel-field">
                    <span class="sel-txt">出生时间：</span>
                    <div class="sel-a sel-year">
                        <select class="sel-data" th:field="*{bHour}">
                            <option th:each="hour : *{hours}" th:value="${hour}" th:text="${hour}"></option>
                        </select>
                    </div>
                    <div class="sel-a sel-year">
                        <select class="sel-data" th:field="*{bMinute}">
                            <option th:each="minute : *{minutes}" th:value="${minute}" th:text="${minute}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-col form-sex">
                <label class="sex">性别：</label><br/>
                <select class="sex-data" th:field="*{gender}">
                    <option th:value=0 th:text="请选择">---请选择---</option>
                    <option th:value=1 th:text="男">男</option>
                    <option th:value=2 th:text="女">女</option>
                </select><br/>
                </div>
                <div class="btn-box">
                    <input id="buttons-h" type="submit" class="btn-grown" >
                </div>
            </form>
        </div>
    </body>
</html>